.login_box {
  width: 600px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_tit {
  height: 100px;
  background: url(../images/login_title.png) no-repeat center;
}

.reg_link {
  display: flex;
  justify-content: flex-end;
}
.login_link {
  display: flex;
  justify-content: flex-end;
}

.login_box {
  padding: 0 40px;
}
.layui-form-item {
  position: relative;
}
i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.layui-form-item input {
  padding-left: 30px;
}

.reg_form {
  display: none;
}
/* .login_form {
  /* display: none; */
